<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Login</title>
</head>
<body class="<%= theme === 'dark' ? 'dark' : '' %>">
  <h1>Login</h1>

  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <form method="POST" action="/login">
    <label>Email:</label>
    <input type="email" name="email" required>
    <br>
    <label>Parolă:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">Login</button>
  </form>

  <a class="btn" href="/register">Nu ai cont? Înregistrează-te</a>

</body>
</html>